html {
  overflow-x: hidden; }
  html body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #f2f2f2; }
    html body .logo {
      display: block;
      height: 25%;
      margin: 15px auto; }
    html body .navbar.menu {
      display: block;
      text-align: center; }
      html body .navbar.menu li {
        margin: 0 15px; }
        html body .navbar.menu li a {
          font-size: 16px;
          color: #43464B;
          transition: all 200ms; }
          html body .navbar.menu li a:hover {
            color: #4E9908;
            background-color: transparent; }
    html body .navbar .container {
      display: inline-block;
      width: auto; }
    html body .top-nav {
      background: #9B6736 !important; }
      html body .top-nav .navbar-header, html body .top-nav .navbar-collapse {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        html body .top-nav .navbar-header a, html body .top-nav .navbar-collapse a {
          color: #dee0e2; }
      html body .top-nav .navbar-header {
        position: relative; }
        html body .top-nav .navbar-header a {
          font-size: 15px; }
      html body .top-nav .navbar-collapse {
        justify-content: flex-end; }
        html body .top-nav .navbar-collapse ul li {
          position: relative !important;
          margin: 0 5px; }
          html body .top-nav .navbar-collapse ul li #cartItems {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #dee0e2;
            color: #43464B;
            position: absolute;
            top: -10%;
            right: -5%;
            border-radius: 50%;
            width: 16px;
            height: 16px; }
          html body .top-nav .navbar-collapse ul li a i {
            font-size: 20px; }
          html body .top-nav .navbar-collapse ul li a:hover {
            background-color: transparent !important; }
          html body .top-nav .navbar-collapse ul li::after {
            content: '';
            width: 0%;
            height: 2%;
            background: #dee0e2;
            position: absolute;
            left: 0;
            bottom: 2%;
            transition: all 200ms; }
          html body .top-nav .navbar-collapse ul li:hover::after {
            width: 100%; }
    html body .body-content {
      max-width: 1600px; }
    html body .carousel-item {
      height: 650px; }
    html body .items-wrapper {
      height: 100%; }
      html body .items-wrapper .items {
        margin: 15px 0;
        display: grid;
        grid-template-columns: repeat(3, 20%);
        grid-column-gap: calc(30%/2);
        grid-row-gap: 50px; }
    html body h2 {
      text-align: center; }
    html body iframe {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%; }
    html body .overlay {
      background-color: rgba(222, 224, 226, 0.7);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1; }
    html body .detail .product {
      margin: 0 auto; }
      html body .detail .product .content {
        padding-top: 5%; }
        html body .detail .product .content img {
          width: 50%; }
    html body .product {
      position: relative;
      box-shadow: 0px 3px 20px -11px #d3d3ef;
      width: 350px;
      min-height: 350px;
      background-color: #fff;
      border-radius: 1%; }
      html body .product .content {
        padding-top: 5%;
        width: 100%; }
      html body .product img {
        display: block;
        width: 50%;
        margin: 0 auto; }
      html body .product .text-holder {
        padding: 15px 25px; }
        html body .product .text-holder .price {
          text-align: center;
          font-weight: bold;
          font-size: 20px;
          margin: 0;
          position: absolute;
          bottom: 5%;
          left: 5%; }
        html body .product .text-holder button {
          position: absolute;
          bottom: 5%;
          right: 5%;
          border: none;
          background-color: #25d366;
          color: #fff;
          padding: 8px 15px;
          font-weight: 600; }
        html body .product .text-holder h1 {
          text-align: center;
          margin-top: 10px; }
        html body .product .text-holder p {
          margin: 0 0 50px; }
