﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>We are big company form Zlin. Our bussiness is up from 1950 and we are still growing and expanding to other countries.</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83372.4145157302!2d17.60646750478016!3d49.231133427567734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47130cad4c888e0d%3A0x418d4c16a8ac214f!2zWmzDrW4!5e0!3m2!1scs!2scz!4v1560245819797!5m2!1scs!2scz" frameborder="0" style="border:0" allowfullscreen></iframe>
<div class="overlay"></div>
