﻿@model IEnumerable<Spices.Models.BlogModel>
@{
    ViewData["Title"] = "Blog";
}

<h2>Blog</h2>
<p>@ViewData["Message"]</p>
<div class="items-wrapper">
    <div class="items">
        @foreach (var item in Model)
        {
            <div class="product">
                <div class="content">
                    <h1 style="text-align:center;">@Html.DisplayFor(modelItem => item.heading)</h1>
                    <img src="~/images/@Html.DisplayFor(modelItem => item.image)">
                    <div class="text-holder">
                        <p>@Html.DisplayFor(modelItem => item.text)</p>
                        
                        <p>Author: @Html.DisplayFor(modelItem => item.author)</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>