﻿
@{
    ViewData["Title"] = "Cart3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cart</h2>
<div class="d-flex">
    <div class="col-5" id="info">
        <h4 class="text-center border-bottom pb-2 mb-2">Billing information</h4>
        <input id="name" type="text" class="form-control mb-2" placeholder="Enter your name" />
        <input id="email" type="email" class="form-control mb-2" placeholder="Enter your email" />
        <input id="tel" type="tel" class="form-control mb-2" placeholder="Enter your name" />
        <input id="adress" type="text" class="form-control mb-2" placeholder="Enter your adress" />
    </div>
    <div class="col-2"></div>
    <div class="col-5">
        <h4 class="text-center">Overview</h4>
        <table class="table">
            @foreach (var item in ViewBag.cart)
            {
                <tr>
                    <td>@item.item.id</td>
                    <td>@item.item.name</td>
                    <td><img src="~/images/@item.item.image" width="60" /> </td>
                    <td>@item.item.price Kč</td>
                    <td>@item.Quantity</td>
                    <td>@(item.item.price * item.Quantity) Kč</td>
                </tr>
            }
        </table>
    </div>
</div>
<button onclick="completeOrder('info')" class="btn btn-success w-100 mt-2">Complete and send order</button>