﻿
@{
    ViewData["Title"] = "Cart2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cart</h2>

<div id="cartForm">
    <p>Zvolte dopravu</p>
    <select id="dop" class="custom-select mb-3">
        @{
            int i = 0;
            int j = 0;
        }
        @foreach (var type in ViewBag.pickup)
        {
        <optgroup label="@type.name">
            j=0;
            @foreach (var place in type.city)
            {
            <optgroup label="@place.name">
                @foreach (var adress in place.adress)
                {
                    <option value="@type.name @place.name @adress">@adress</option>
                }
                @j++;
            </optgroup>
            }
            @i++;
        </optgroup>
        }
    </select>
    <p>Zvolte platbu</p>
    <select id="plat" class="custom-select mb-3">
        <option value="cash">Hotově</option>
        <option value="card">Kartou</option>
        <option value="online">Kartou online</option>
    </select>
</div>
<button onclick="setTranspay('cartForm')" class="btn btn-success w-100 mt-2">Proceed to checkout</button>