﻿
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cart page</h2>
<h4>Cart items</h4>
<div class="items-wrapper">
    <table class="table">
        @foreach (var item in ViewBag.cart)
        {
            <tr>
                <td>@item.item.id</td>
                <td>@item.item.name</td>
                <td><img src="~/images/@item.item.image" width="60" /> </td>
                <td>@item.item.price</td>
                <td>@item.Quantity</td>
                <td>@(item.item.price * item.Quantity)</td>
            </tr>
        }
    </table>
</div>
<a class="page-link text-center bg-success text-light" asp-area="" asp-controller="Home" asp-action="Cart2">Proceed to checkout</a>