﻿@{
    ViewData["Title"] = "Home";
}

<div id="myCarousel" class="carousel slide mt-2" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <a asp-controller="Home" asp-action="ProductDetail" asp-route-id="4">
                <img src="~/images/bannerVanilla.jpeg" alt="Vanilla" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        Vanilla with delicious flavour
                    </p>
                </div>
            </a>
        </div>
        
        <div class="carousel-item">
            <a asp-controller="Home" asp-action="ProductDetail" asp-route-id="2">
                <img src="~/images/bannerPaprika.jpeg" alt="Paprika" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        Paprika with her strong flavour
                    </p>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a asp-controller="Home" asp-action="ProductDetail" asp-route-id="1">
                <img src="~/images/bannerCurry.jpeg" alt="Curry" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        Our delicious curry made by heart
                    </p>
                </div>
            </a>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
