﻿
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-3 mb-3">Login</h2>

<div class="modal-content" id="login">
    <div class="modal-body input-group">
        <input class="form-control"  type="text" id="username" placeholder="Username" />
        <input class="form-control" type="password" id="pass" placeholder="Password" />
        <button class="form-control btn btn-success" type="button" onclick="login()">Log In</button>
    </div>
</div>