﻿@model Spices.Models.ShopModel
@{
    ViewData["Title"] = "Product Detail";
}

<h2>Product Detail</h2>
<div class="detail">
    <div class="product">
        <div class="content">
            <img src="~/images/@Model.image">
            <div class="text-holder">
                <h1>@Model.name</h1>
                <p>@Model.description</p>
                <p class="price">@Model.price Kč </p><button onclick="addtoCart(@Model.id)">Add to cart</button>
            </div>
        </div>
    </div>
</div>
