﻿@model IEnumerable<Spices.Models.ShopModel>

@{
    ViewData["Title"] = "Shop";
}

<h2>Shop</h2>
<p>@ViewData["Message"]</p>
<div class="items-wrapper">
    <div class="items">
        @foreach (var item in Model)
        {
            <div class="product">
                <div class="content">
                    <img src="~/images/@Html.DisplayFor(modelItem => item.image)">
                    <div class="text-holder">
                        <a asp-controller="Home" asp-action="ProductDetail" asp-route-id="@item.id"><h1>@Html.DisplayFor(modelItem => item.name)</h1></a>
                        <p class="price">@Html.DisplayFor(modelItem => item.price) Kč </p><button onclick="addtoCart(@item.id)">Add to cart</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>