﻿@{
    ViewData["Title"] = "Admin panel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<img src="~/images/spices.svg" alt="Spices logo" class="logo" />

<ul class="nav justify-content-center mt-3">
    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Products">Products</a></li>
    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Posts">Posts</a></li>
</ul>
