﻿@model IEnumerable<Spices.Models.BlogModel>
@{
    ViewData["Title"] = "Posts";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/js/admin_Post.js"></script>
<div class="modal fade" id="edit" role="dialog" tabindex="-1">

</div>
<h2>Posts</h2>
<p>@ViewData["Message"]</p>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new">Create new one</button>
<div class="items-wrapper">
    <div class="items">
        @foreach (var item in Model)
        {
            <div class="product">
                <div class="content">
                    <img class="editable" src="~/images/@Html.DisplayFor(modelItem => item.image)">
                    <div class="text-holder">
                        <h1 class="editable">@Html.DisplayFor(modelItem => item.heading)</h1>
                        <p class="editable">@Html.DisplayFor(modelItem => item.text)</p>
                        <p class="editable">@Html.DisplayFor(modelItem => item.author)</p>
                    </div>
                    <div class="btnHolder">
                        <button class="btn btn-default" data-toggle="modal" data-target="#edit" onclick="createEdit(this,@item.id,'post')">Edit</button>
                        <button class="btn btn-danger" onclick="deletePost(@item.id)">Delete product</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Create new item in da shop</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="name" placeholder="Heading of post" /><br />
                <textarea style="resize:none" type="text" id="description" placeholder="Text of post"></textarea><br />
                <span>Product image</span><input type="file" id="image" /><br />
                <img class="img-responsive" src="" id="preview" />
                <input type="text" id="price" placeholder="Author of post" /><br />
            </div>
            <div class="modal-footer">
                <button type="button" onclick="createPost('new')" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>