﻿@model IEnumerable<Spices.Models.ShopModel>
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/js/admin_Product.js"></script>
<div class="modal fade" id="edit" role="dialog" tabindex="-1">
    
</div>
<h2>Products</h2>
<p>@ViewData["Message"]</p>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new">Create new one</button>
<div class="items-wrapper">
    <div class="items">
        @foreach (var item in Model)
        {
        <div class="product">
            <div class="content">
                <img class="editable" src="~/images/@Html.DisplayFor(modelItem => item.image)">
                <div class="text-holder">
                    <h1 class="editable">@Html.DisplayFor(modelItem => item.name)</h1>
                    <p class="editable">@Html.DisplayFor(modelItem => item.description)</p>
                    <p data-value="@item.price" class="price editable">@Html.DisplayFor(modelItem => item.price) Kč </p>
                </div>
                <div class="btnHolder">
                    <button class="btn btn-default" data-toggle="modal" data-target="#edit" onclick="createEdit(this,@item.id,'product')">Edit</button>
                    <button class="btn btn-danger" onclick="deleteProduct(@item.id)">Delete product</button>
                </div>
            </div>
            
        </div>
        }
    </div>
</div>
<div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Create new item in da shop</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="fas fa-window-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="name" class="form-control" placeholder="Name of product" />
                <textarea style="resize:none" class="form-control" type="text" id="description" placeholder="Description of product"></textarea>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="image">
                    <label class="custom-file-label" for="image">Browse</label>
                </div>
                <input type="text" class="form-control" id="price" placeholder="Price of product" />
            </div>
                <div class="modal-footer">
                    <button type="button" onclick="createProduct('new')" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
        </div>
    </div>
</div>
