@import 'variables.scss';
html {
    overflow-x: hidden;

    body {
        padding: 0;
        margin: 0;
        height: 100vh;
        width: 100vw;
        background-color: $background;

        .logo {
            display: block;
            height: 25%;
            margin: 15px auto;
        }

        .navbar {
            &.menu {
                display: block;
                text-align: center;

                li {
                    margin: 0 15px;

                    a {
                        font-size: 16px;
                        color: $dark-grey;
                        transition: all 200ms;

                        &:hover {
                            color: $primary-color;
                            background-color: transparent;
                        }
                    }
                }
            }

            .container {
                display: inline-block;
                width: auto;
            }
        }

        .top-nav {
            background: $secondary-color !important;

                .navbar-header, .navbar-collapse {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    a {
                        color: $light-grey;
                    }
                }

                .navbar-header {
                    position: relative;

                    a {
                        font-size: 15px;
                    }
                }

                .navbar-collapse {
                    justify-content: flex-end;

                    ul {
                        li {
                            position: relative !important;
                            margin: 0 5px;

                            #cartItems {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: $light-grey;
                                color: $dark-grey;
                                position: absolute;
                                top: -10%;
                                right: -5%;
                                border-radius: 50%;
                                width: 16px;
                                height: 16px;
                            }

                            a {
                                i {
                                    font-size: 20px;
                                }

                                &:hover {
                                    background-color: transparent !important;
                                }
                            }

                            &::after {
                                content: '';
                                width: 0%;
                                height: 2%;
                                background: $light-grey;
                                position: absolute;
                                left: 0;
                                bottom: 2%;
                                transition: all 200ms;
                            }

                            &:hover {
                                &::after {
                                    width: 100%;
                                }
                            }
                        }
                    }
            }
        }

        .body-content{
            max-width:1600px;
        }
        .carousel-item{
            height:650px;
        }
        .items-wrapper {
            height: 100%;

            .items {
                margin: 15px 0;
                display: grid;
                grid-template-columns: repeat(3,20%);
                grid-column-gap: calc(30%/2);
                grid-row-gap: 50px;
            }
        }

        h2 {
            text-align: center;
        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
        }

        .overlay {
            background-color: rgba($light-grey,.7);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
        }

        .detail {
            .product {
                margin: 0 auto;
                .content{
                    padding-top:5%;
                    img{
                        width:50%;
                    }
                }
            }
        }

        .product {
            position: relative;
            box-shadow: 0px 3px 20px -11px #d3d3ef;
            width: 350px;
            min-height: 350px;
            background-color: $white-color;
            border-radius: 1%;

            .content {
                padding-top:5%;
                width: 100%;
            }

            img {
                display: block;
                width: 50%;
                margin: 0 auto;
            }

            .text-holder {
                padding: 15px 25px;

                .price {
                    text-align: center;
                    font-weight: bold;
                    font-size: 20px;
                    margin: 0;
                    position: absolute;
                    bottom: 5%;
                    left: 5%;
                }

                button {
                    position: absolute;
                    bottom: 5%;
                    right: 5%;
                    border: none;
                    background-color: $confirm-color;
                    color: $white-color;
                    padding: 8px 15px;
                    font-weight: 600;
                }

                h1 {
                    text-align: center;
                    margin-top: 10px;
                }
                p{
                    margin:0 0 50px;
                }
            }
        }
    }
}