﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Spices</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/index.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <script src="https://kit.fontawesome.com/8d212e8631.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <script src="https://kit.fontawesome.com/8d212e8631.js"></script>
    </environment>
</head>
<body>
    <nav class="navbar top-nav navbar-expand-lg navbar-dark bg-primary p-3">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">We love what we do</a>
        <div class="collapse navbar-collapse ">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login">Log in</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Shop">Checkout</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Cart"><i class="fas fa-shopping-basket"></i></a><span id="cartItems">1</span></li>
            </ul>
        </div>
    </nav>
    <img src="~/images/spices.svg" alt="Spices logo" class="logo" />

    <ul class="nav justify-content-center mt-3">
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Shop">Shop</a></li>
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Blog">Blog</a></li>
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About us</a></li>
    </ul>
   
    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Spices</p>
            <address>
                Best road ever<br />
                Zlin,763 05 Czech Republic<br />
                Phone: <a href="tel:+420778458488">+420 778 458 488</a>
            </address>

            <address>
                <strong>Contact:</strong> <a href="mailto:contact@spices.com">contact@spices.com</a>
            </address>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
